body {
  background-color: var(--bg-main);
  font-family: var(--font-base);
  font-size: var(--tamanho-corpo);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.nft-card {
  background-color: var(--bg-card);
  width: 350px;
  padding: 24px;
  border-radius: 15px;
  box-shadow: 0 25px 50px rgba(0,0,0,0.2);
}

.nft-card .info h1 {
  color: var(--text-white); 
  font-weight: var(--fw-bold);
}

.nft-card .info p {
  color: var(--primary-soft); 
}

/* --- ESTILIZAÇÃO DOS ÍCONES */

.nft-card .info .price {
  color: var(--primary-medium);
  font-weight: var(--fw-bold);
  display: flex;
  align-items: center;
}

.nft-card .info .price::before {
  content: '';
  background-image: url(src/images/icon-ethereum.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 11px;
  height: 20px;
  display: inline-block;
  margin-right: 8px;
}

.nft-card .info .days-left {
  color: var(--primary-soft);
  display: flex;
  align-items: center;
}

.nft-card .info .days-left::before {
  content: '';
  background-image: url(src/images/icon-clock.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 17px;
  height: 17px;
  display: inline-block;
  margin-right: 8px;
}

/* --- RESTANTE DO LAYOUT --- */

.image-wrapper {
  position: relative;
  background-color: var(--primary-medium);
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

.main-image { width: 100%; transition: opacity 0.3s; }

.overlay {
  position: absolute; top: 0; left: 0; width: 100%; height: 100%;
  background-color: hsla(178, 100%, 50%, 0.5);
  display: flex; justify-content: center; align-items: center;
  opacity: 0; transition: opacity 0.3s;
}

.image-wrapper:hover .main-image { opacity: 0.5; }
.image-wrapper:hover .overlay { opacity: 1; }

.info h1 {
  color: var(--text-white);
  font-size: 22px;
  margin: 24px 0 16px;
}

.info h1:hover { color: var(--primary-medium); cursor: pointer; }

.info p {
  color: var(--primary-soft);
  font-weight: var(--fw-light);
  line-height: 1.6;
  margin-bottom: 24px;
}

.stats { display: flex; justify-content: space-between; }

.divider { border: none; border-top: 1px solid var(--line-color); margin: 20px 0; }

.author { display: flex; align-items: center; gap: 16px; }
.author img { width: 33px; border: 1px solid var(--text-white); border-radius: 50%; }
.author p { color: var(--primary-soft); font-size: 16px; }
.author .name { color: var(--text-white); cursor: pointer; }
.author .name:hover { color: var(--primary-medium); }