:root {
  /* Cores Semânticas */
  --primary-soft: hsl(215, 51%, 70%);
  --primary-medium: hsl(178, 100%, 50%);
  
  --bg-main: hsl(217, 54%, 11%);
  --bg-card: hsl(216, 50%, 16%);
  --line-color: hsl(215, 32%, 27%);
  --text-white: hsl(0, 0%, 100%);

  /* Tipografia */
  --font-base: 'Outfit', sans-serif;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 600;
}